/*PRIMERA FUENTE
font-family: 'DM Sans', sans-serif;
font-family: 'Lateef', cursive;
font-family: 'Lato', sans-serif;
*/

/*SEGUNDA FUENTE
font-family: 'DM Sans', sans-serif;
font-family: 'Lateef', cursive;
*/

/*
TERCERA FUENTE
font-family: 'DM Sans', sans-serif;
font-family: 'Lateef', cursive;
font-family: 'Lato', sans-serif;

*/
    /* border: 1px solid black; */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}


body {
    background-color: khaki;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}

img {
    max-width: 100%;
}

/* ****** MAIN - CUERPO PRINCIPAL ****** */

main{
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    margin: 0;
    margin-top: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}



/* ****** HEADER - ENCABEZAADO ****** */

.nav-header {
    border: 1px solid black;
    box-sizing: border-box;
    width: 100%;
    height: 10vw;
    /* padding: 1vw; */
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 1.1vw;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
}

/* ***** HEADER - LOGO ***** */

div.headimg {
    width: 19.673em;
    display: flex;
    /* border: 1px solid black; */
}

.logo {
    height: 11.1em;
    align-items:center ;
    margin-top: 1.5vh;
    padding-top: 1vh;
    opacity: 1;
    transition-property: opacity;
    /* Esto es el REGRESO */
    transition-delay: 3s;
    transition-duration: 1.5s;
}

.logo:hover {
    /* transition: opacity 2s;
        si aplicamos la animación en el elemento CON HOVER
        solo se aplica la transición al IR, no al VOLVER
    Esto es la IDA */
    transition-delay: 0s;
    transition-duration: 0.3s;
    opacity: 0.3;
}


/* ***** HEADER - NAVEGACIÓN ***** */


.headnav {
    /* border: 1px solid black; */
    width: 49.051em;
    box-sizing: border-box;
    display: flex;
    /* flex-wrap: nowrap; */
    /* flex-direction: row;
    justify-content: center;*/
    align-items:center;
}

.nav {
    width: 49.051em;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}

div nav ul li a {
    text-decoration: none;
}


div nav ul li a:hover {
    text-decoration: none;
    font-size: 1em;
    text-shadow: 5px 10px 10px rgba(0, 0, 0, 0.75),
                -3px 10px 12px rgba(0, 0, 0, 0.75);
    transform: scale(1.2, 1.2);
    transition: all 0.5s ease-out;
    background-color:khaki;
    color:brown;
}

.hul {
    /* height: 50vh; */
    width: 49em;
    /* padding: 0; */
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    text-align: center;
    align-items: center;
    /* border-radius: 10px; */
}

/* li[class*="hitem-"] { */
.headnav nav ul li {
    box-sizing: border-box;
    list-style: none;
    border-radius: 1em;
    height: 4em;
    padding: 0.2em;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-right: 0.1em solid gray;
    /* flex: 1; */
    margin: 2em;
}


/*HEADER - ICONOS REDES*/


.cont-icon {
    width: 18.965em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

h4 {
    padding: 2.5vw 1vw 1vw 1vw;
}


.social {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1vw 1vw 2vw 1vw;
}

div.cont-icon span {
    color: brown;
}

/*.hitem-5 {
    color: red;
}

a {
    text-decoration: none;
}

.container2 {
    background-color: khaki;
    list-style-type: none;
    text-decoration: none;
    padding: 0%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    text-align: right;
    align-items: center;
    /* flex-direction: row; */
/* } */


ul.container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.teesperamos {
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-size: 2rem;
    font-weight: 100;
    font-style: italic;
}

span {
    color: brown;
}

*/




/* hr linea divisoria */
.sepa {
    border-top: 1px solid gray;
    margin-bottom: 1px;
}


.sepa2 {
    width: 100%;
    height: 25vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* width: 3rem; */
}



.cuerpo {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


form {
    width: 450px;
    margin: auto;
    background: rgba(41, 40, 40, 0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;;
}

h2 {
    color: #fff;
    text-align: center;
    margin: 0%;
    font-size: 30px;
    margin-bottom: 32px;
}

input, textareea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}

textarea {
    min-height: 100px;
    max-height: 200px;
    width: 60vh;
}

#boton {
    background: #31384a;
    color:#fff;
    padding: 20px;
}

#boton:hover{
    cursor: pointer;
}

@media (max-widt:480px) {
    form{
        width: 100%;
    }
}


