/*PRIMERA FUENTE
font-family: 'DM Sans', sans-serif;
font-family: 'Lateef', cursive;
font-family: 'Lato', sans-serif;
*/

/*SEGUNDA FUENTE
font-family: 'DM Sans', sans-serif;
font-family: 'Lateef', cursive;
*/

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}


body {
    background-color: khaki;

}

img {
    max-width: 100%;
}

/*ENCABEZADO - HEADER*/

.nav-header {
    /* background-color: khaki; */
    height: 17vh ;
    margin: 0 auto;
    margin-bottom: 1vh;
    padding: 0px;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
    align-items:center;
}

/*HEADER - LOGO*/

.logo {
    margin-left: 0%;
    padding: 0%;
    height: 23vh;
}

/* .logo:hover { */
/* transition: none; */
/* } */

/* .uno { */
    /* Qué propiedades usan la transición? */
    /* transition-property: background-color, font-size;
    transition-duration: 1s, 5s; */
    /* Cuánto tarda en activarse la transición */
    /* transition-delay: 3s; */
/* } */
/* .uno:hover { */
    /* font-size: 38px; */
    /* background-color: aqua; */
/* } */

.logo {
    opacity: 1;
    transition-property: opacity;
    /* Esto es el REGRESO */
    transition-delay: 3s;
    transition-duration: 1.5s;
}
.logo:hover {
    /* transition: opacity 2s;
        si aplicamos la animación en el elemento CON HOVER
        solo se aplica la transición al IR, no al VOLVER
    */
    /* Esto es la IDA */
    transition-delay: 0s;
    transition-duration: 0.3s;
    opacity: 0.3;
}



/*HEADER - BARRA DE NAVEGACIÓN*/

.nav {
    /* background-color:red; */
    border-radius: 10px;
}


nav ul li:hover {
    text-decoration: underline;
    transform: scale(1.2, 1.2);
    transition: all 0.5s ease-out;
    background-color:lightgoldenrodyellow;
    color:brown;
}

nav ul li:focus {
    text-decoration: underline;
}

/* hov:hover { */
    /* font-weight: 800; */
/* } */


/* nav.nav { */
    /* background-color:burlywood ; */
    /* max-width: 200%; */
    /* display:flex ; */
    /* flex-direction: row; */
    /* align-items:flex-start; */
    /* justify-content: space-between; */
    /* padding: 0.3rem; */
/* } */

.hul {
    /* background-color:khaki; */
    list-style: none;
    height: 50vh;
    /* width: 1000px; */
    max-width: 3000vh;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    /* text-align: center; */
    align-items: center;
    border-radius: 10px;
    /* margin: 0.5rem */
    /* flex-direction: row; */
}

li[class*="hitem-"] {
    list-style: none;
    /* background-color: burlywood; */
    border-radius: 20px;
    height: 10vh;
    padding: 1rem;
    display: flex;
    justify-content: center;
    /* flex-direction: row; */
    text-align: center;
    align-items: center;
    border-right: 2px solid gray;
    flex: 1;
    margin: 2rem;
}

/* .hitem-1:hover { */
    /* font-weight: bolder; */
/* } */

/*HEADER - ICONOS REDES*/

a {
    text-decoration: none;
}

.container2 {
    background-color: khaki;
    list-style-type: none;
    text-decoration: none;
    padding: 0%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    text-align: right;
    align-items: center;
    /* flex-direction: row; */
}


ul.container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

span {
    color: brown;
}


/*CUERPO PRINCIPAL*/

/* section { */
    /* max-width: fit-content; */
    /* max-height: 1000vh; */
    /* margin-bottom: 1000px; */
/* } */

.portada {
    height: 1000px;
    object-fit: cover;
}

h1 {
    /* background-color: antiquewhite; */


    display: inline-block;
    text-align: center;
    /* flex-direction: row; */

    /* flex-direction: column; */
    /* justify-content: center; */
    /* font-size: 64px; */
    /* background-color: aquamarine; */
    /* color: black; */
    /* text-align: center; */
    /* align-items: center; */
    /* vertical-align: text-top; */
}

.tit3 {
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
    font-style: italic;
    color:burlywood;
    position: absolute;
    top: 450px;
    right: 40px;
    margin-left: 150px;
}

.contiene {
    background-color: blue;
    position: relative;
    display: inline-block;
    text-align: left;
    /* margin-left: 100px; */
}

.textoena {
    font-family: 'DM Sans', sans-serif;
    font-size: 5rem;
    font-style: oblique;
    /* border: 1px solid yellowgreen; */
    color: burlywood;
    position: absolute;
    top: 50px;
    left: 10px;
    margin-left: 10px;
}

.textoenb {
    font-family: 'DM Sans', sans-serif;
    font-size: 3rem;
    color:darkorange;
    position: absolute;
    top: 200px;
    left: 10px;
    margin-left: 70px;
}


p {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: 200;
    /* background-color: orange; */
    height: 15vh;
    font-size: 1.5rem;
    line-height: 7vh;
    align-items: center;
    text-align: center;
}

/* ARTICLE - GALERIA DE FOTOS */

.contenedor-columnas {
    /*Modifica aquí el tamaño de las columnas y veras que no se deforma la imagen ni se recorta*/
    /* --col-height: 120px; */
      width: 100%;
      margin: auto;
      text-align: center;
      margin-bottom: 1000px;
  }

  .columx2 {
      width: 50%;
      float: left;
      padding: 20px 20px;
      box-sizing: border-box;
      /* object-fit: cover; */
      /* z-index: auto; */
      /* object-position: bottom; */
  }

  .columna {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* object-fit: cover; */
    align-content: stretch;
    justify-content: center;
    /* height: var(--col-height); */
    background-color: red;
    background-image: url('http://picsum.photos/800/600?image=307');
    background-color: #ece0d5;
    background-blend-mode: color-burn;/*Esta propiedad es innecesaria, ignorala. La uso simplemente para darle un tono distinto y más claro al fondo*/
      background-position: center;
      background-size: cover;
  }

  div.columna img {
    object-fit: contain;
    /* z-index: auto; */
    object-position: center;
  }

  .title {
      background-color:wheat;
    width: 100%;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #4e3224;
    line-height: 1em;
    margin: 0;
    padding: 0.5em;
    position: relative;
  }

  .pleca{
      border-radius: 10px;
    /* background-image: url('https://dgm.azureedge.net/products/lg/fiora-shelf-bronze.png'); */
    /* background-position: center calc(100% + 15px); */
    /* background-size: 100% 60px; */
    /* background-repeat: no-repeat; */
    padding-bottom: 5px;/*El espacio que ocuparía la pleca*/
  }

  .columx2 img {
    width: 100%;
    height: calc(100% - 100px);
    /* object-fit: cover; */
    /* object-position: bottom right; */
  }

  /*Este estilo de abajo ignoralo, es solo para que puedas jugar con los tamaños de las columnas*/

  /* style{ */
    /* background: yellow; */
    /* color: lime; */
    /* font-family: monospace; */
    /* position: fixed; */
    /* display: block; */
    /* top: 0; */
    /* left: 0; */
    /* width: 100%; */
    /* z-index: 2; */
    /* padding: 5px; */
    /* text-transform: uppercase; */
    /* text-align: center; */
  /* } */



  /* Piede página - FOOTER */

  footer {
      width: 100%;
      height: 100vh;
      /* background-color: red; */
      /* margin-top: 0vh; */
      }

  .fotcont {
      width: 100%;
      height: 70%;
      background-color: rgb(0, 0, 0);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      line-height: 7vh;
      /* text-align: center; */
      /* margin: 4vw; */
      flex: 1;
      border-bottom: white solid 3px;
  }

  .gral {
    width: 100%;
    height: 50vh;
    padding: 5px;
    background-color: rgb(0, 0, 0);
    margin: 5px;
    display: flex;
    flex-direction: column;
   /* list-style: none; */
  }

  .fotligral {
      list-style: none;
      color: white;

  }

  /* .fotcont1 { */
    /* width: auto; */
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: center; */
    /* margin: 1px; */
/* } */

div.fotcont h3 {
    padding-left: 30px;
    color: white;
    font-style: italic;
}

div.fotcont a {
    color: white;
}


.redlog {
    width: 100%;
    height: 60%;
    background-color: rgb(165, 26, 42);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 7vh;
    /* text-align: center; */
    /* margin: 4vw; */
    flex: 1;
    border-bottom: white solid 3px;
}

div.red1 {
    width: 15%;
    margin: 10;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */

}