/*PRIMERA FUENTE
font-family: 'DM Sans', sans-serif;
font-family: 'Lateef', cursive;
font-family: 'Lato', sans-serif;
*/

/*SEGUNDA FUENTE
font-family: 'DM Sans', sans-serif;
font-family: 'Lateef', cursive;
*/

/*
TERCERA FUENTE
font-family: 'DM Sans', sans-serif;
font-family: 'Lateef', cursive;
font-family: 'Lato', sans-serif;

*/
    /* border: 1px solid black; */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}


body {
    background-color: khaki;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}

img {
    max-width: 100%;
}

/* MAIN - CUERPO PRINCIPAL */

main{
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    margin: 0;
    margin-top: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

/*ENCABEZADO - HEADER*/

.nav-header {
    border: 1px solid black;
    box-sizing: border-box;
    width: 100%;
    height: 10vw;
    /* padding: 1vw; */
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 1.1vw;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
}

/*HEADER - LOGO*/

div.headimg {
    width: 19.673em;
    display: flex;
    /* border: 1px solid black; */
}

.logo {
    height: 11.1em;
    align-items:center ;
    margin-top: 1.5vh;
    padding-top: 1vh;
    opacity: 1;
    transition-property: opacity;
    /* Esto es el REGRESO */
    transition-delay: 3s;
    transition-duration: 1.5s;
}

.logo:hover {
    /* transition: opacity 2s;
        si aplicamos la animación en el elemento CON HOVER
        solo se aplica la transición al IR, no al VOLVER
    Esto es la IDA */
    transition-delay: 0s;
    transition-duration: 0.3s;
    opacity: 0.3;
}

/*HEADER - NAVEGACIÓN*/

.headnav {
    /* border: 1px solid black; */
    width: 49.051em;
    box-sizing: border-box;
    display: flex;
    /* flex-wrap: nowrap; */
    /* flex-direction: row;
    justify-content: center;*/
    align-items:center;
}

.nav {
    width: 49.051em;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}

div nav ul li a {
    text-decoration: none;
}


div nav ul li a:hover {
    text-decoration: none;
    font-size: 1em;
    text-shadow: 5px 10px 10px rgba(0, 0, 0, 0.75),
                -3px 10px 12px rgba(0, 0, 0, 0.75);
    transform: scale(1.2, 1.2);
    transition: all 0.5s ease-out;
    background-color:khaki;
    color:brown;
}

.hul {
    /* height: 50vh; */
    width: 49em;
    /* padding: 0; */
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    text-align: center;
    align-items: center;
    /* border-radius: 10px; */
}

/* li[class*="hitem-"] { */
.headnav nav ul li {
    box-sizing: border-box;
    list-style: none;
    border-radius: 1em;
    height: 4em;
    padding: 0.2em;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-right: 0.1em solid gray;
    /* flex: 1; */
    margin: 2em;
}

/*HEADER - ICONOS REDES*/

.cont-icon {
    width: 18.965em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

h4 {
    padding: 2.5vw 1vw 1vw 1vw;
}


.social {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1vw 1vw 2vw 1vw;
}

div.cont-icon span {
    color: brown;
}



/***********CUERPO PRINCIPAL*************/
/***********CUERPO PRINCIPAL*************/
/***********CUERPO PRINCIPAL*************/


/******* SECCION + ARTICULO *******/

section {
    width: 100%;
    height: 1em;
    background-color: grey;
    /* position: absolute;
    top: 153px; */

}


/* FOTO DE PORTADA */

.contiene {
    /* REVISAR ESTO ???????  */
    width: 100%;
    background-color: blue;
    position: relative;
    display: inline-block;
    text-align: left;
}

.contiene {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    /* border: solid 5px blue; */
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portimg {
    width: 100%;
    height: auto;
    position: relative;
    display: inline-block;
    text-align: center;
}

.portada {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

section div div img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    padding: 1px 1px 1px 1px;
}

/* .contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
.texto-encima{
    position: absolute;
    top: 10px;
    left: 10px;
}
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */


/* TEXTO DE PORTADA */


.textoena {
    font-family: 'DM Sans', sans-serif;
    font-size: 5em;
    font-style: oblique;
    /* border: 1px solid yellowgreen; */
    color: burlywood;
    position: absolute;
    top: 0.125em;
    left: 0.625em;
    /* margin-left: 0.625em; */
}

.textoena::first-letter {
    color: #9106fc;
    font-weight: bold;
    font-variant: small-caps;
  }

.textoenb {
    font-family: 'DM Sans', sans-serif;
    font-size: 3em;
    color:darkorange;
    position: absolute;
    top: 3.5em;
    left: 0.625em;
    /* margin-left: 4.375em; */
}

.textoenc {
    font-family: 'DM Sans', sans-serif;
    font-size: 1em;
    font-style: italic;
    color:burlywood;
    position: absolute;
    top: 24em;
    right: 4em;
}

/* PARRAFO */

.text_parra {
    width: 100%;
    height: 6em;
    background-color: cornflowerblue;
}

p {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: 200;
    /* background-color: orange; */
    height: 15vh;
    font-size: 1.5rem;
    line-height: 7vh;
    align-items: center;
    text-align: center;
}

p::first-letter{
    font-weight: bolder;
    color: orangered;
}

p #xx:link {
    color: blue
}


/************ ARTICLE - GALERIA DE FOTOS ************/
/************ ARTICLE - GALERIA DE FOTOS ************/



.contenedor-columnas {
    /*Modifica aquí el tamaño de las columnas y veras que no se deforma la imagen ni se recorta*/
    /* --col-height: 120px; */
      width: 100%;
      height: 42em;
      margin: auto;
      text-align: center;
      margin-bottom: 1px;
      background-image: url(./bkg/bkg.jpg);
      background-repeat: repeat;
      position: relative;
      display: inline-block;
      align-items: center;
      padding-top: 1.5em;
  }

  .columx2 {
      width: 25%;
      float: left;
      padding: 20px 20px;
      box-sizing: border-box;
      /* object-fit: cover; */
      /* z-index: auto; */
      /* object-position: bottom; */
      position: relative;
      display: inline-block;
  }

  .columna {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* object-fit: cover; */
    align-content: stretch;
    justify-content: center;
    /* height: var(--col-height); */
    background-color: red;
    background-spanimage: url('http://picsum.photos/800/600?image=307');
    background-color: #ece0d5;
    background-blend-mode: color-burn;/*Esta propiedad es innecesaria, ignorala. La uso simplemente para darle un tono distinto y más claro al fondo*/
      background-position: center;
      background-size: cover;
  }

  div.columna img {
    object-fit: contain;
    /* z-index: auto; */
    object-position: center;
  }

  .title {
      background-color:wheat;
    width: 100%;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #4e3224;
    line-height: 1em;
    margin: 0;
    padding: 0.5em;
    position: relative;
  }

  .pleca{
      border-radius: 10px;
    /* background-image: url('https://dgm.azureedge.net/products/lg/fiora-shelf-bronze.png'); */
    /* background-position: center calc(100% + 15px); */
    /* background-size: 100% 60px; */
    /* background-repeat: no-repeat; */
    padding-bottom: 5px;/*El espacio que ocuparía la pleca*/
  }

  .columx2 img {
    width: 100%;
    height: calc(100% - 100px);
    /* object-fit: cover; */
    /* object-position: bottom right; */
  }

  /*Este estilo de abajo ignoralo, es solo para que puedas jugar con los tamaños de las columnas*/

  /* style{ */
    /* background: yellow; */
    /* color: lime; */
    /* font-family: monospace; */
    /* position: fixed; */
    /* display: block; */
    /* top: 0; */
    /* left: 0; */
    /* width: 100%; */
    /* z-index: 2; */
    /* padding: 5px; */
    /* text-transform: uppercase; */
    /* text-align: center; */
  /* } */

    div.vidisa {
        width: 100%
        display: inline-block;
    }

  /* Piede página - FOOTER */

  footer {
      width: 100%;
      height: 100vh;
      /* background-color: red; */
      /* margin-top: 0vh; */
      }

  .fotcont {
      width: 100%;
      height: 70%;
      background-color: rgb(0, 0, 0);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      line-height: 7vh;
      /* text-align: center; */
      /* margin: 4vw; */
      flex: 1;
      border-bottom: white solid 3px;
  }

  .gral {
    width: 100%;
    height: 50vh;
    padding: 5px;
    background-color: rgb(0, 0, 0);
    margin: 5px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
   /* list-style: none; */
  }

  .fotligral {
      list-style: none;
      color: white;

  }

  /* .fotcont1 { */
    /* width: auto; */
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: center; */
    /* margin: 1px; */
/* } */

div.fotcont h3 {
    padding-left: 30px;
    color: white;
    font-style: italic;
}

div.fotcont a {
    color: white;
}


.redlog {
    width: 100%;
    height: 60%;
    background-color: rgb(165, 26, 42);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 7vh;
    /* text-align: center; */
    /* margin: 4vw; */
    flex: 1;
    border-bottom: white solid 3px;
}

div.red1 {
    width: 15%;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */

}

@media screen and (max-width: 800px) {
    .contenedor {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .contenedor {
        width: 100%;
    }
}